[submodule "playbooks/moosefs-playbook"]
	path = playbooks/moosefs-playbook
	url = https://github.com/Zorlin/moosefs-playbook.git
	branch = ehi
[submodule "playbooks/ehi-proxmaas"]
	path = playbooks/ehi-proxmaas
	url = https://github.com/application-research/ehi-proxmaas.git
[submodule "playbooks/haproxy-cluster-playbook"]
	path = playbooks/haproxy-cluster-playbook
	url = https://github.com/application-research/haproxy-cluster-playbook.git
[submodule "playbooks/wildcard-tls-playbook"]
	path = playbooks/wildcard-tls-playbook
	url = https://github.com/application-research/wildcard-tls-playbook.git
[submodule "playbooks/estuary-postgres-playbook"]
	path = playbooks/estuary-postgres-playbook
	url = https://github.com/application-research/estuary-postgres-playbook.git
        branch = ehi
[submodule "playbooks/delta-playbook"]
	path = playbooks/delta-playbook
	url = https://github.com/application-research/delta-playbook.git
[submodule "playbooks/logtail-playbook"]
	path = playbooks/logtail-playbook
	url = https://github.com/application-research/logtail-playbook.git
