---
technitium_url: "https://dns.pchq.tech"
dns_domain: "pchq.tech"

proxmox_url: "10.1.1.151:8006"
proxmox_user: root@pam
proxmox_token_id: ansible-maas

proxmox_nodes:
  - 10.1.1.151

proxmox_token_secret: DO-NOT-SHARE-OR-COMMIT-THIS